<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Administrador</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/styles_panel_usuario.css">
    <style>
        body {
            background: url('/static/assets/barberia1.jpeg') no-repeat center center fixed;
            background-size: cover;
        }
    </style>
</head>

<body>
    {% include 'includes/navbar.html' %}
    {% include 'includes/flash_messages.html' %}

    <main class="container mt-5">
        <h1 class="mb-5 text-white">Panel Administrador</h1>

        <!-- Gestión de Palabras Prohibidas -->
        <div class="mb-4">
            <h3 class="text-white">Gestión de Palabras Prohibidas</h3>
            <form method="POST" action="{{ url_for('panel_administrador') }}">
                <div class="form-group">
                    <label for="new_prohibited_word" class="text-white">Añadir nueva palabra prohibida:</label>
                    <input type="text" class="form-control" id="new_prohibited_word" name="new_prohibited_word"
                        required>
                </div>
                <button type="submit" class="btn btn-primary">Añadir</button>
            </form>
            <table class="table table-dark table-striped mt-3">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Palabra</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for word in prohibited_words %}
                    <tr>
                        <td>{{ word[0] }}</td>
                        <td>{{ word[1] }}</td>
                        <td>
                            <form method="POST" action="{{ url_for('delete_prohibited_word', id=word[0]) }}">
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Gestión de Usuarios -->
        <div class="mb-4">
            <h3 class="text-white">Gestión de Usuarios</h3>
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <th>Teléfono</th>
                        <th>Sexo</th>
                        <th>Acciones</th>
                        <th>Asignar como trabajador</th>
                        <th>Quitar trabajador</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user[0] }}</td>
                        <td>{{ user[1] }}</td>
                        <td>{{ user[4] }}</td>
                        <td>{{ user[2] }}</td>
                        <td>{{ user[5] }}</td>
                        <td>{{ user[6] }}</td>
                        <td>
                            <button class="btn btn-danger delete-user-btn" data-user-id="{{ user[0] }}"
                                data-toggle="modal" data-target="#deleteUserModal">Eliminar</button>
                        </td>
                        <td>
                            {% if not user[3] %}
                            <form method="POST" action="{{ url_for('assign_admin') }}" style="display:inline;">
                                <input type="hidden" name="user_id" value="{{ user[0] }}">
                                <button type="submit" class="btn btn-primary">Agregar</button>
                            </form>
                            {% endif %}
                        </td>
                        <td>
                            {% if user[3] %}
                            <form method="POST" action="{{ url_for('remove_admin') }}" style="display:inline;">
                                <input type="hidden" name="user_id" value="{{ user[0] }}">
                                <button type="submit" class="btn btn-warning">Quitar</button>
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


        <!-- Revisar Reservas -->
        <div class="mb-4">
            <h3 class="text-white">Revisar Reservas</h3>
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Usuario ID</th>
                        <th>Fecha y Hora</th>
                        <th>Servicio</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reserva in reservas %}
                    <tr>
                        <td>{{ reserva[0] }}</td>
                        <td>{{ reserva[1] }}</td>
                        <td>{{ reserva[2] }}</td>
                        <td>{{ reserva[3] }}</td>
                        <td>
                            <form method="POST" action="{{ url_for('delete_reserva', id=reserva[0]) }}">
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Correos de Contacto -->
        <div class="mb-4">
            <h3 class="text-white">Correos de Contacto</h3>
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Teléfono</th>
                        <th>Asunto</th>
                        <th>Mensaje</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for correo in correos %}
                    <tr>
                        <td>{{ correo[0] }}</td>
                        <td>{{ correo[1] }}</td>
                        <td>{{ correo[2] }}</td>
                        <td>{{ correo[3] }}</td>
                        <td>{{ correo[4] }}</td>
                        <td>
                            <form method="POST"
                                action="{{ url_for('delete_contacto', nombre=correo[0] or 'NULL', email=correo[1] or 'NULL', telefono=correo[2] or 'NULL') }}">
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Valoraciones -->
        <div class="mb-4">
            <h3 class="text-white">Valoraciones</h3>
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Valoración</th>
                        <th>Comentario</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for valoracion in valoraciones %}
                    <tr>
                        <td>{{ valoracion[0] }}</td>
                        <td>{{ valoracion[1] }}</td>
                        <td>{{ valoracion[2] }}</td>
                        <td>
                            <form method="POST"
                                action="{{ url_for('delete_valoracion', nombre=valoracion[0] or 'NULL', valoracion=valoracion[1] or 'NULL') }}">
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Subir Imágenes a la Galería -->
        <div class="mb-4">
            <h3 class="text-white">Subir Nueva Imagen</h3>
            <form method="POST" action="{{ url_for('panel_administrador') }}" enctype="multipart/form-data"
                id="uploadForm">
                <div class="form-group">
                    <label for="image" class="text-white">Seleccionar Imagen:</label>
                    <input type="file" class="form-control" id="image" name="image" accept="image/*" required>
                </div>
                <div class="form-group">
                    <label for="description" class="text-white">Descripción:</label>
                    <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Subir Imagen</button>
            </form>
        </div>

        <!-- Imágenes en la Galería -->
        <div class="mb-4">
            <h3 class="text-white">Imágenes en la Galería</h3>
            <div class="row">
                {% for imagen in imagenes %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="{{ url_for('static', filename='uploads/' ~ imagen[1]) }}" class="card-img-top"
                            alt="Imagen de Galería">
                        <div class="card-body">
                            <p class="card-text">{{ imagen[2] }}</p>
                            <form method="POST" action="{{ url_for('delete_image', id=imagen[0]) }}">
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>

    {% include 'includes/footer.html' %}

    <!-- Modal de Confirmación -->
    <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteUserModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteUserModalLabel">Confirmar Eliminación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas eliminar este usuario? Esta acción no se puede deshacer.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="confirmDeleteUser">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="/static/js/script.js"></script>
    <script src="/static/js/form_handling.js"></script>
    <script src="/static/js/cambio_datos.js"></script>
    <script src="/static/js/revisar_reservas.js"></script>

    <script>
        document.getElementById('uploadForm').addEventListener('submit', function (event) {
            var fileInput = document.getElementById('image');
            var filePath = fileInput.value;
            var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;
            if (!allowedExtensions.exec(filePath)) {
                alert('Solo se permiten archivos con extensiones .jpeg/.jpg/.png/.gif');
                fileInput.value = '';
                event.preventDefault();
            }
        });

        let userIdToDelete;

        document.querySelectorAll('.delete-user-btn').forEach(button => {
            button.addEventListener('click', function () {
                userIdToDelete = this.getAttribute('data-user-id');
            });
        });

        document.getElementById('confirmDeleteUser').addEventListener('click', function () {
            const form = document.createElement('form');
            form.method = 'POST';
            form.action = `/delete_user/${userIdToDelete}`;
            document.body.appendChild(form);
            form.submit();
        });
    </script>
</body>

</html>