body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #656565;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}


.navbar {
    background-color: rgba(40, 40, 40, 0.8);
    color: #fff;
    padding: 20px 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: top 0.5s, background-color 0.5s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar ul li {
    margin-right: 20px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar ul li a:hover {
    background-color: #ffd700;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.sidebar {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: rgba(40, 40, 40, 0.95);
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 22px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #ffd700;
}

.sidebar .close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 36px;
}

@media (max-width: 768px) {
    .navbar ul {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .menu-toggle {
        display: block;
    }

    .navbar ul.visible {
        display: flex;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #555;
}

.footer {
    margin-top: auto;
    background-color: #282828;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.footer ul li {
    margin: 0 15px;
}

.footer ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer ul li a:hover {
    color: #ffd700;
}

@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        align-items: center;
    }

    .navbar ul li {
        margin-bottom: 10px;
    }

    .footer .container {
        flex-direction: column;
    }
}

.slider {
    width: 100%;
    overflow: hidden;
}

.slide {
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
}

.slide:hover {
    transform: scale(1.05);
}

@keyframes zoomEffect {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}

.slide {
    animation: zoomEffect 15s ease-in-out infinite alternate;
}

.slide-content h2 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.slide-content p {
    font-size: 1.5em;
}

.main-content {
    padding-top: 60px;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1001;
    transition: opacity 0.3s ease;
}

.back-to-top a {
    color: white;
    text-decoration: none;
}

.hidden {
    display: none !important;
}

#reservasForm {
    background-color: #f8f8f8;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#reservasForm label {
    display: block;
    margin-bottom: 5px;
}

#reservasForm input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#reservasForm button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#reservasTable {
    width: 100%;
    border-collapse: collapse;
}

#reservasTable td,
#reservasTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#reservasTable th {
    background-color: #333;
    color: #fff;
}

.loading-gif {
    width: 50px;
    height: 50px;
}
