#chatbotModal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

#chatbotModal .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#chatbotModal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#chatbotModal .close:hover,
#chatbotModal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#respuestaChatbot {
    background-color: #282828;
    color: white;
    padding: 10px;
    margin-top: 10px;
    display: none;
}

body {
    background: url('../static/assets/barberia1.jpeg') no-repeat center center fixed;
    background-size: cover;
}

.container-custom {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 5%;
}

h1 {
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}

h2 {
    text-align: center;
    color: #ffffff;
}

.btn-custom {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.btn-custom:hover {
    background-color: #0056b3;
    border-color: #004085;
}
