/* Estilos para la página de estilos de la barbería */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px 0;
}

.navbar {
    background-color: #333;
}

.navbar-brand {
    font-size: 24px;
}

.navbar-nav .nav-link {
    color: #fff;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.respuesta-chatbot {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
