<div id="forgotPasswordModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>¿Olvidaste tu contraseña?</h2>
        <form id="forgotPasswordForm">
            <label for="forgotPasswordEmail">Correo Electrónico:</label>
            <input type="email" id="forgotPasswordEmail" name="forgotPasswordEmail" required>
            <button type="submit">Enviar correo de restablecimiento</button>
        </form>
        <div id="forgotPasswordLoading" style="display: none;"></div>
        <div id="forgotPasswordMessage"></div>
    </div>
</div>
