<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barbería SAMI</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>


    {% include 'navbar.html' %}
    {% include 'login.html' %}
    {% include 'register.html' %}

    <div id="backToTop" class="back-to-top" style="display: none;">
        <a href="javascript:void(0);">↑</a>
    </div>
    <div class="slider">
        <div class="slide" style="background-image: url('/static/assets/Barberia1.jpeg');">
            <div class="slide-content">
                <h2>Estilo Moderno</h2>
                <p>Un corte para cada personalidad.</p>
            </div>
        </div>
        <div class="slide" style="background-image: url('/static/assets/Barberia2.jpeg');">
            <div class="slide-content">
                <h2>Barbería Clásica</h2>
                <p>Tradición y calidad en cada afeitado.</p>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}


    <script src="../static/js/script.js" defer></script>
    <script src="../static/js/form_handling.js" defer></script>
</body>

</html>