<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barbería SAMI - Reseñas</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    {% include 'includes/navbar.html' %}
    {% include 'includes/login.html' %}
    {% include 'includes/register.html' %}
    {% include 'includes/backtotop.html' %}
    <div class="container-fluid mt-5">
        <div class="row">
            {% for valoracion in valoraciones %}
            <div class="col-md-6 col-lg-4 valoracion-card">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ valoracion[0] }}</h5>
                        <div class="card-text stars">
                            {% for i in range(valoracion[1] | int) %}
                            ★
                            {% endfor %}
                        </div>
                        <p class="card-text">{{ valoracion[2] }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% include 'includes/footer.html' %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="../static/js/script.js" defer></script>
    <script src="../static/js/form_handling.js" defer></script>
</body>

</html>
