<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barbería SAMI</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    {% include 'includes/navbar.html' %}
    {% include 'includes/login.html' %}
    {% include 'includes/register.html' %}
    {% include 'includes/backtotop.html' %}
    {% for valoracion in valoraciones %}
    <div class="valoracion">
        <h3>{{ valoracion[0] }}</h3>
        <p>{{ valoracion[2] }} estrellas</p>
        <p>{{ valoracion[3] }}</p>
    </div>
    {% endfor %}
    {% include 'includes/footer.html' %}


    <script src="../static/js/script.js" defer></script>
    <script src="../static/js/form_handling.js" defer></script>
</body>

</html>