<!-- reservar.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas - Barbería SAMI</title>
    <link rel="stylesheet" href="../static/css/styles.css"> <!-- Enlazar tu archivo de estilos CSS -->
</head>
<body>

    {% include 'navbar.html' %}

    <!-- Contenido principal -->
    <div class="container">
        <h1>Reservas</h1>
        <p>Por favor, complete el siguiente formulario para reservar su cita:</p>
        <form id="reservasForm">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
            <label for="email">Correo Electrónico:</label>
            <input type="email" id="email" name="email" required>
            <label for="telefono">Teléfono:</label>
            <input type="tel" id="telefono" name="telefono" required>
            <label for="fecha">Fecha:</label>
            <input type="date" id="fecha" name="fecha" required>
            <label for="hora">Hora:</label>
            <input type="time" id="hora" name="hora" required>
            <button type="submit">Reservar</button>
        </form>
    </div>

    {% include 'footer.html' %}

    <script src="../static/js/script.js" defer></script>
</body>
</html>
