<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas - Barbería SAMI</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
    <style>
        body {
            background: url('../static/assets/barberia1.jpeg') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
</head>

<body>
    {% include 'includes/navbar.html' %}
    {% include 'includes/login.html' %}
    {% include 'includes/register.html' %}
    {% include 'sistema_reservas/reservas.html' %}
    {% include 'includes/footer.html' %}

    <script src="../static/js/reservas.js" defer></script>
    <script src="../static/js/script.js" defer></script>
    <script src="../static/js/form_handling.js" defer></script>

</body>

</html>